.checkbox{
    position: relative;
    top: 100px;
    left: 100px;

    height: 100px;
    width: 100px;
    border-radius: 10%;
    border: 3px solid gray;

    cursor: pointer;
}

.checkbox.on{
    animation: check 0.5s ease forwards;
}

@keyframes check{
    to{
        border-radius: 0%;
        width: 50px;
        transform: rotate(45deg);
        left: 120px;
        width: 50px;
        border-color: transparent green green transparent;
    }
}