body{
    background-color: whitesmoke;
    border: none;
    margin: none;
}

input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

img{
    position: absolute;
    left: 20%;
    top: 20%;
    height: 60%;
}

.search{
    position: relative;
    top: 200px;
    left: 200px;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    background-color: #172026;
}

.search > a{
    position: absolute;
    left: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.search > input{
    position: relative;
    left: 10px;
    top: 10px;
    
    height: 30px;
    width: 0px;
    border-radius: 50%;
    border: none;
    
    visibility: hidden;
    
    color: whitesmoke;
    background-color: #172026;
}

.search:hover{
    animation: translation-negative 1s forwards;
}

.search:hover > a{
    animation: translation 1s forwards;
}

.search:hover > input{
    animation: open 1s forwards;
}

@keyframes open{
    from{
        visibility: hidden;
    }
    to{
        visibility: visible;
        /* transform: translateX(-100px); */
        width: 200px;
    }
}

@keyframes translation{
    from{
        background-color: #027368;
    }
    to{
        background-color: #027368;
        transform: translateX(200px);
    }
}

@keyframes translation-negative {
    to{
        transform: translateX(-100px);
        width: 250px;
    }
    
}