.checkbox{
    width: 70px;
    height: 30px;
    border-radius: 30px;
    border: none;

    background-color: #ADE3FB;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.checkbox::before{
    content: "";

    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: none;

    background-color: #546F7A;

    transition: 
        width 200ms, height 200ms, 
        transform 200ms, background-color 200ms ;
}

.checkbox.on{
    background-color: #546F7A;
}

.checkbox.on::before{
    background-color: #ADE3FB;
    transform: translateX(40px)
}