@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.linear-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

h2{
    font-family: 'Merriweather', serif;
    color: black;
}

.animation-type{
    animation: animate 1.5s infinite linear;
}

@keyframes animate {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}