@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

body{
    background-color: #100e17;
    border: none;
    margin: none;
}

.position-card{
    position: absolute;
    top: 200px;
    left: 300px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card{
    height: 300px;
    width: 250px;
    border-radius: 20px;
    background-color: #17141d;
    box-shadow: -1rem 0 3rem #000;
    animation: 0.42 ease-out;
}

.side-up{
    position: relative;
    top: 0px;
    width: 100%;
    height: 35%;
    border-radius: 20px 20px 0px 0px;
}

.img-section{
    position: relative;
    top: 25px;
    left: 60px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.line{
    position: absolute;
    top: 165px;
    left: 20px;
    height: 5px;
    width: 210px;
    background-color: #2e3033;
}


.full-line {
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, #DAFDBA 0%, #45C4B0 65%, #012030 100%);
    transition: 0.4s ease-out;
}

.card:hover .full-line {
    width: 210px;
    transition: 0.6s ease-out;
}

.card:hover{
    transform: translateY(-30px);
    transition: 0.5 ease-out;
}

.side-down{
    padding-top: 22%;
}

.data-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title, .subtitle{
    position: relative;
    top: 0px;
    left: 15%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.subtitle{
    top: -25px;
    font-weight: 300;
    font-size: medium;
}
.title{
    font-size: larger;
    font-weight: 500;
}